{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

</head>
<body>
    <aside>
        <img src="{% static 'main/img/Yesenyasha.jpg' %}"  alt="Фото">
        <span class="logo">Mysite</span>
        <h3>Поиск</h3>
        <ul>
            <a href="{% url 'home' %}"> <li><font color="white"><i class="fas fa-paper-plane"></i>  Главная</font></li></a>
            <a href="{% url 'about' %}"> <li><font color="red"><i class="fas fa-home"></i>  Про нас</font></li></a>
            <a href="{% url 'news_home' %}"> <li><font color="white"><i class="fas fa-newspaper"></i>  Новости</font></li></a>
            <a href=""> <li><font color="red"><i class="fas fa-mobile"></i>  Контакты</font></li></a>
            <a href="{% url 'create' %}"><li><button class="btn btn-info"><i class="fas fa-plus-circle"></i> Добавить запись </li></a>
        </ul>


    </aside>
    <main>
    {% block content %}
    {% endblock %}
    </main>
</body>
</html>